<div class="cryptoMenu">
  <ng-select [(ngModel)]="selectedCurrency">
    <!-- <ng-option *ngFor="let currency of currencies" [value]="currency.id">{{currency.name}}</ng-option> -->
    <ng-option >Bitcoin</ng-option>
    <ng-option>Ethereum</ng-option>
    <ng-option>Tether</ng-option>
    <ng-option><img src="../../assets/binanceLogo.svg">Binance Smart Chain</ng-option>
    <ng-option><img src="../../assets/solanaLogo.svg">Solana</ng-option>
    <ng-option><img src="../../assets/avalancheLogo.svg">Avalanche</ng-option>
  </ng-select>

  <!-- одно из двух можно использовать ^. Если оба - будет два инпута-->

  <!-- Using items input-->
  <!-- <ng-select>ng-select [items]="currencies"
          bindLabel="name"
          bindValue="id">
</ng-select> -->
</div>
