.page-container
  position: absolute
  display: flex
  justify-content: center
  width: 100%
  height: auto
  top: 110px
  background-color: #B5EE85

.info-container
  display: flex
  flex-direction: column
  justify-content: space-between
  margin: 80px 0 90px 0
  max-width: 1060px
  width: 1060px
  min-height: 100px
  background: #FEFDF1
  border: 6px solid #5CB318
  box-shadow: 6px 6px 0 #F266FF

.header-container
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  margin: 70px 140px 0 110px

.header
  display: flex
  justify-content: center
  flex: 1
  font-size: 50px
  line-height: 60px
  text-transform: uppercase
  font-feature-settings: 'pnum' on, 'lnum' on
  color: #30322C

.close-icon
  cursor: pointer
  width: 19px
  height: 19px

.information-block
  margin: 70px 110px




