<p class="text purple-text text-fp">Although the idea of cryptocurrency is much broader than the NFT concept,
  it supports the ESR-721 standard. Our NFT is not mintable in the classic sense of the word. </p>
<div class="paragraph paragraph-margin">
  <div class="first-text-container pricing-first-container">
    <div class="numbered-list-entity">
      <img class="bullet" src="assets/info-page/nft/first-bullet.svg"  alt="first-bullet">
      <p class="text">After the project moves to the second stage, users can buy tiles into ownership. </p>
    </div>
    <div class="numbered-list-entity">
      <img class="bullet" src="assets/info-page/nft/second-bullet.svg" alt="second-bullet">
      <p class="text">After a user has bought a tile to own. After that, the cache becomes an NFT.</p>
    </div>
    <div class="numbered-list-entity">
      <img class="bullet" src="assets/info-page/nft/third-bullet.svg" alt="third-bullet">
      <p class="text">The X and Y coordinates of the cache are converted into a unique identifier (unsigned).
        Therefore, not every cache can become NFT, but only those in the center. In total half of all tiles
        can be converted to NFT.</p>
    </div>
  </div>
  <img src="assets/info-page/nft/first-img.svg" alt="first image">
</div>
