
<p>
  Вдохновленный проектом плэйс от реддит крипт-оплэйс является платформой для совместного творчества всего блокчейн
  комьюнити. У проекта есть похожая идея - это бесконечный (условно) холст в рисование которого может внести свой
  вклад любой желающий! Весь холст поделен на тайлы размером 16 на 16 пикселей. Добавьте одну или несколько картинок
  чтобы получился групповой арт созданный крипто сообществом.
</p>
<br>
<p>
  Криптоплэйс не ставит собой целью заработать миллионы или ограбить кого-то.
  Большинство функций смарт-контракта бесплатны а цены скорее символические.
  Нам просто нравится придумывать новые применения технологии блокчейн и
  исследовать возможности которые она нам предоставляет.
</p>

<br>
<h2>
  Особенности проекта
</h2>
<ul>
  <li>Проект на 100% построен на технологии блокчейн! Мы не используем сервера или
    IPFS чтобы хранить изображения они полностью хранятся в блокчейн навечно.
  </li>
  <li>
    Весь исходный код смарт-контракта, бэкенд и фронтенд части находятся в открытом репозитории и могут
    быть клонированы любым желающим. При желании вы можете развернуть проект локально на вашем компьютере -
    данные находятся в блокчейн и не могут контролироваться со стороны третьих лиц.
  </li>
  <li>
    Наш контракт развернут на всех популярных блокчейнах и на каждом строится свой уникальный арт!
  </li>
  <li>
    Изначально каждый тайл является “свободным” и может быть бесплатно изменен любым участником
    сообщества совершенно бесплатно ( не считая цены за газ ).
  </li>
  <li>
    После заполнения 999 тайлов открывается возможность покупать тайлы.
    Начальная цена каждого тайла рассчитывается по формуле. Чем ближе к центру - тем дороже!
  </li>
</ul>

<br>
<h2>
  Криптоплэйс для всех!
</h2>

<p>
  Разумеется, что наиболее ценные тайлы в центре арта будут заняты и достаточно дороги, но поле огромное.
  Никто не мешает вам занять небольшой участок холста на окраине и
  создать небольшую открытку другу или близкому человеку.
  Заняв тайлы в собственность вы можете быть уверены что картинка останется в блокчейн навечно!
</p>

<br>
<h2>Стадии проекта</h2>

<p>
  Проект условно поделен на 3 стадии:
</p>
<ul>
  <li>
    Первая стадия наиболее миролюбивая! Единственная доступная функция -
    заполнение тайлов. Любой желающий может заполнить любой понравившейся ему тайл!
    Первая стадия заканчивается после того как заполнится 999 тайлов (включая повторные заполнения одного тайла).
  </li>
  <li>
    После 999 го вызова функции заполнения тайла проект переходит во вторую стадию.
    У пользователей появляется возможность покупки тайлов в собственность.
    Это еще не полноценный проект, тем не менее теперь только вы можете изменять
    купленный вами в собственность тайл. Пока количество измененных тайлов
    (включая повторные изменения) не достигнет 4999 а количество купленных тайлов не
    достигнет 499 вторая стадия будет продолжаться.
  </li>
  <li>
    Третья стадия начинается когда будут выполнены оба условия - количество заполненных
    тайлов достигнет 4999 и количество купленных тайлов достигнет 499. С этого момента проект
    запускается в полную силу! Тайлы можно покупать, передавать, выставлять на продажу, продавать через аукцион,
    сдавать в аренду. Игра началась!
  </li>
</ul>


<br>
<h2>Ценообразование</h2>

<p>
  Изначально цена на каждый тайл фиксирована.
  Центральный тайл стоит 1 ETH (или другая монета в зависимости от блокчейн, на котором развернут смарт-контракт).
  4 тайла вокруг центрального стоят по 0.25 ETH каждый.
  8 тайлов следующего круга стоят по 0.125 ETH. Основная идея состоит в том что все
  тайлы одного круга стоит суммарно 1 ETH.
  Но в то-же время тайл не может стоит меньше 0.001 ETH Или если говорить языком формул:
  <br>
  <i>
    price = MAX(1 / MAX(1, (ABS(x) + ABS(y)) * 4), 0.001)
  </i>
</p>

<br>
<h2>NFT</h2>
<p>
  Хотя идея криптоплэйс гораздо обширнее концепции NFT оно поддерживает стандарт ESR-721. Наш NFT не является mintable в классическом понимании этого слова. После перехода проекта во вторую стадию пользователи могут покупать тайлы в собственность. После того как пользователь купил тайл в собственность. После этого тайл становится NFT. Координаты X и Y тайла преобразуются в уникальный идентификатор (беззнаковый) Поэтому, не каждый тайл может стать NFT а только те, которые расположены в центре. В общей сложность половина всех тайлов могут быть преобразованы в NFT
</p>
