<div [ngClass]="isOpen ? 'uploader' : 'uploaderHide'">
  <div class="uploaderHeading">
    <p class="uploaderName">Tile 16 x 16</p>
    <div class="box">
      <p class="uploader_status">{{statusTile}}</p>
    </div>
    <button class="closeIcon" src="/assets/closeIcon.svg" (click)="closeMenu()"></button>
  </div>
  <div class="uploaderArea">
    <div class="uploadChanger">
      <button
        class="changeButton"
        (click)="setOpenButton('image')"
        [class.active]="openTab === 'image'"
      >Image</button>
      <button
        class="changeButton"
        (click)="setOpenButton('paint')"
        [class.active]="openTab === 'paint'"
      >Painting</button>
      <button
        class="changeButton"
        (click)="setOpenButton('info')"
        [class.active]="openTab === 'info'"
      >Info</button>
    </div>
    <div class="info_tab">
      <div *ngIf="openTab === 'image'">
        <app-image [xPosition]="xPosition" [yPosition]="yPosition" [image]="image"></app-image>
      </div>
      <div *ngIf="openTab === 'info'" class="info_block">
        <app-information [xPosition]="xPosition" [yPosition]="yPosition" [infoTile]="infoTile" [statusTile]="statusTile"></app-information>
      </div>
      <div *ngIf="openTab === 'paint'">
        <app-painting [xPosition]="xPosition" [yPosition]="yPosition"  [image]="image"></app-painting>
      </div>
    </div>
  </div>
</div>
