<div class="uploader">
  <div class="uploaderHeading">
    <p class="uploaderName">Tile 16 x 16</p>
    <div class="box">
      <p class="uploader_status">FREE</p>
    </div>
    <button class="closeIcon" src="/assets/closeIcon.svg"></button>
  </div>
  <div class="uploaderArea">
    <div class="uploadChanger">
      <button class="changeButton">Image</button>
      <button class="changeButton">Painting</button>
      <button class="changeButton">Info</button>
    </div>
    <div class="uploadImg hide">
      <label class="imgPreview">
        <input type="file" accept="image/png" hidden />
      </label>
      <div class="imgSubmitArea">
        <button class="imgBtn">Donwload Image</button>
        <button class="imgBtn">Done</button>
      </div>
    </div>
    <div class="info_tab">
      <div>
        <ul class="info_list">
          <li class="info_item">Location:</li>
          <li class="info_item">Status:</li>
          <li class="info_item">Owner:</li>
          <li class="info_item">Last action:</li>
          <li class="info_item">Sale:</li>
          <li class="info_item">Rent:</li>
        </ul>
      </div>
      <div>
        <ul class="info_list">
          <li class="info_status">x: y:</li>
          <li class="info_status">Free</li>
          <li class="info_status">No</li>
          <li class="info_status">No</li>
          <li class="info_status">No</li>
          <li class="info_status">No</li>
        </ul>
      </div>
    </div>
  </div>
</div>
