<app-place>

</app-place>
<app-currency-selector></app-currency-selector>
<div class="header">
  <img class="logo" src="/assets/Logo.svg">
  <ul class="header-links">
    <li class="link">About</li>
    <li class="link">Project Features</li>
    <li class="link">Project Roadmap</li>
    <li class="link">Pricing</li>
    <li class="link">NFT</li>
    <div class="metaLogo" (click)="metaCheck()"  src="/assets/metamask_disabled.svg"></div>
  </ul>
</div>

<app-uploader></app-uploader>
<!-- проверка логина и изменение индикатора, добавить позже

[ngClass]="{metaLogo_active:getEth}"


-->


