*:host
  height: 100vh
  width: 100vw

.show-logo
  height: 100px
  z-index: 1
  position: relative

.metamask
  filter: grayscale(1)
  height: 100px
  width: 100px
  position: absolute
  right: 5px
  top: 5px
  cursor: pointer

.metamask_active
  filter: grayscale(0)
  height: 100px
  width: 100px
  position: absolute
  right: 5px
  top: 5px
  cursor: pointer

.indicator
  width: 10px
  height: 10px
  border-radius:50%
  border: .2px solid black
  background-color: #f00
  position: absolute
  right: 20px
  top: 72px

.indicator_active
  width: 10px
  height: 10px
  border-radius:50%
  border: .2px solid black
  background-color: #23f72a
  position: absolute
  right: 20px
  top: 72px

.header
  width:100%
  height:110px
  background-color: #7C4FFF
  position: absolute
  box-sizing: border-box
  display: flex
  box-shadow: 6px 6px 0px 0px #F266FF


.logo
  width:270px
  height:60px
  margin: 20px 173px 20px 80px

.header-links
  list-style: none
  display: flex
  margin: 34px 80px 34px auto
  padding: 0

.link
  font-weight: 600
  margin: 6px auto
  text-align: center
  padding: 0 50px 0 0
  max-width:181px
  font-size:20px
  line-height:30px
  text-align: center
  color: #FEFDF1

.link:hover
  cursor: pointer

.metaLogo
  width:40px
  height:42px

//.cryptoMenu
  width: 290px
  height: 60px
  color: #FEFDF1
  background-color: #7C4FFF
  position: absolute
  top:142px
  left:80px
  box-shadow: 6px 6px 0px 0px #F266FF
