<app-place>

</app-place>
<app-currency-selector></app-currency-selector>
<div class="header">
  <img class="logo" src="/assets/Logo.svg">
  <ul class="header-links">
    <li class="link">About</li>
    <li class="link">Project Features</li>
    <li class="link">Project Roadmap</li>
    <li class="link">Pricing</li>
    <li class="link">NFT</li>
    <div class="metaLogo" (click)="metaCheck()"  src="/assets/metamask_disabled.svg"></div>
  </ul>
</div>

<app-uploader></app-uploader>
<!-- <div class="metamask"  [ngClass]="{metamask_active:getEth}">
<img alt="metamask-logo" (click)="metaCheck()"  src="/assets/MetaMask_Fox_active.svg">

</div>
<span class="indicator"></span>
<a href="#info">
<img alt="logo" class="show-logo" src="/assets/logo.png">
</a>
<app-modal *ngIf="hash.startsWith('info')">
  <app-info [hash]="hash"></app-info>
</app-modal> -->
