<div class="paragraph">
  <div class="first-text-container">
    <p class="text purple-text text-fp">The project is 100% blockchain-based! We don't use servers or IPFS to store images they
      are completely stored in the blockchain forever.</p>
    <p class="text indent-text">The entire source code of the smartcontract, the backend and
      the frontend parts are in an open repository and can clone by anyone who wants to. If you wish,
      you can deploy the project locally on your computer - the data is in the blockchain and cannot be
      controlled by third parties.</p>
  </div>
  <img src="assets/info-page/project-features/first-img.svg" alt="first image">
</div>
<p class="text purple-text text-size">
  Our contract is deployed on all popular blockchains and each builds its own unique art!
</p>
<div class="paragraph">
  <img src="assets/info-page/project-features/second-img.svg" alt="second image">
  <div class="second-text-container">
    <p class="text purple-text text-fp">Initially, each tile is "free" and can be changed for free by any
      member of the community for free (not counting the price of gas).</p>
    <p class="text indent-text">After you fill 999 tiles, you can buy tiles. The initial price of each
      tile is calculated by the formula. The closer to the center, the more expensive!</p>
  </div>
</div>
<div class="paragraph indent-paragraph">
  <div class="third-text-container">
    <p class="text purple-text text-fp">DigiTiles for everyone!</p>
    <p class="text indent-text">Of course, the most valuable tiles in the center of the art will be occupied and
      quite expensive, but the field is huge. No one is stopping you from occupying a small section of canvas on
      the outskirts and create a small postcard for a friend or loved one. </p>
    <p class="text indent-text">By taking ownership of the tiles you can be sure that the picture will stay in
      the blockchain forever!</p>
  </div>
  <img src="assets/info-page/project-features/third-img.svg" alt="third image">
</div>
