<div class="paragraph">
  <div class="first-text-container">
    <p class="text purple-text">Inspired by Reddit's Project Place, the
      DigiTiles is a platform for co-creation of the entire blockchain community.</p>
    <p class="text indent-text">The project has a similar idea — it's an infinite (notional)
      canvas that anyone can contribute to anyone!</p>
  </div>
  <img src="assets/info-page/about/first-img.svg" alt="first image">
</div>
<div class="paragraph indent-paragraph">
  <img src="assets/info-page/about/second-img.svg" alt="second image">
  <div class="second-text-container">
    <p class="text purple-text">The whole canvas is divided into 16x16 pixels tiles.
      Add one or more pictures To create a group art created by the crypto community.</p>
  </div>
</div>

<div class="paragraph indent-paragraph">
  <p class="text">DigiTiles does not aim to make millions or rob anyone.
    Most of the smart contract features are free and the prices are rather symbolic.</p>
  <p class="text">We just like to come up with new uses for blockchain
    technology and exploring the possibilities it presents to us.</p>
</div>
