<div class="paragraph">
  <div class="first-text-container text-container-pr">
    <p class="text purple-text text-rp">The project is conditionally divided into three stages:</p>
    <p class="text indent-text">The first stage is the most peaceful! The only function available filling in the tiles.
      Anyone may fill in any crayon he likes! The first stage ends after 999 tiles have been filled
      (including repeated fills of the same tiles).</p>
  </div>
  <img src="assets/info-page/project-roadmap/first-img.svg" alt="first image">
</div>
<div class="paragraph second-paragraph-pr">
  <img src="assets/info-page/project-roadmap/second-img.svg" alt="second image">
  <div class="second-text-container second-text-container-pr">
    <p class="text">After the 999th invocation of the Fill Tile function, the project
      enters the second stage. Users have the opportunity to buy the ownership of the tiles. This is not a
      complete project yet, but now only you can modify purchased by you.</p>
    <p class="text">While the number of modified tiles (including re changes) reaches 4999 and the number of
      purchased tiles reaches reaches 4999 the second stage will continue.</p>
  </div>
</div>
<div class="paragraph indent-paragraph">
  <p class="text third-text-pr">The third stage begins when both conditions are met - the number of filled The number of
    tiles reaches 4999 and the number of purchased tiles reaches 499. At this point the project starts in
    full force! Tiles can buy, transfer, put up for sale, sold through the auction, rent them out. Game on!</p>
  <img src="assets/info-page/project-roadmap/third-img.svg" alt="third image">
</div>
